.mid {
  background-color: #f5dfbb;
  padding-bottom: 100px;
}

.mid h1 {
  padding-top: 75px;
}

.crdstyle {
  background-color: #ffeed6;
}

/* .btnflx {
  padding-top: 25px;
  padding-bottom: 25px;
} */

.spinner {
  height: 797px;
  padding-top: 230px;
}
